# Dependencies
node_modules
.pnp
.pnp.js

# Go build artifacts
bin/
tmp/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Testing
coverage
*.out

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build outputs
dist/
build/

# Next.js
.next/
out/

# Docker
docker-compose.override.yml

.pnpm-store

scripts/
backups/
